.swiper-button-next {
  background-image: url('../../public/flecha-der.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}